body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0a0a0f;
  color: #f1f1f1;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  font-weight: bold;
  color: #a855f7;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #ccc;
}

.navbar a:hover {
  color: #a855f7;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

/* TEXTO */
.hero-text h1 {
  font-size: 1.5em;
}

.hero-text h2 {
  font-size: 3em;
  margin: 10px 0;
}

.highlight {
  font-size: 2em;
}

.highlight span {
  color: #a855f7;
}

.hero-text p {
  color: #aaa;
  max-width: 400px;
}

/* BOTONES */
.buttons {
  margin-top: 20px;
}

.btn {
  background: #a855f7;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-outline {
  border: 1px solid #a855f7;
  padding: 10px 20px;
  color: #a855f7;
  text-decoration: none;
  border-radius: 5px;
}

/* IMAGEN / EFECTO */
.hero-img {
  position: relative;
}

/* CONTORNO */
.shape {
  width: 250px;
  height: 250px;
  border: 3px solid #a855f7;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ANIMACIÓN */
.circle {
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, #a855f7, transparent);
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(0.8); opacity: 0.6; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(0.8); opacity: 0.6; }
}

/* PROYECTOS */
.container {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

h3 {
  border-bottom: 2px solid #a855f7;
}

.card {
  background: #111;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}
